@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Arvo&family=Gantari&family=Montserrat&family=Plus+Jakarta+Sans:wght@300&family=Pragati+Narrow&display=swap');




.Contents{
    display:flex; 
    justify-content: flex-end; 

    


}

.Header{
    top: 0px;
    height: 6rem;
    width: 100%;
    background-color: #242323;
    color: white;
    font-size: 3rem;
    font-weight: 600;
    padding: 1.25rem; 
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
   
    font-family: 'Montserrat', sans-serif;  
    position: sticky;
    box-shadow: 10px 10px 100px #000000;
}

